.c-item {
  width: 100%;
  padding: 10px;
  .item {
    padding: 10px;
    border: 1px solid var(--bg-primary);
    border-radius: 10px;
    .title {
      table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
        th,
        td {
          border-bottom: 1px solid var(--bg-primary);
        }
      }
    }
  }
}
